{% extends "navbar.html" %}

{% block body %}
<h2>Members</h2>

<table id="devices" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Accepted</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for member in groupData.members %}
    <tr>
      <th scope="row">{{ member.username }}</th>
      <th scope="row">{% if member.accepted %}Yes{% else %}No{% endif %}</th>
      {% if member.userId === userData._id %}
      <td scope="row"></td>
      {% else %}
      <td scope="row"><a class="btn btn-danger" href="/group/remove-user/{{ groupData._id }}/{{ member.userId }}" role="button">Remove</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2 class="mt-3">Invite</h2>
<form id="invite-form">
  {% for user in allUsers %}
  {% if not groupData.memberNames.includes(user.username) %}
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="{{ user._id }}" id="{{ user.username }}-check" name="members">
    <label class="form-check-label" for="{{ user.username }}-check">
      {{ user.username }}
    </label>
  </div>
  {% endif %}
  {% endfor %}

  <button id="invite-button" class="btn btn-primary" type="submit">Invite Users</button>
</form>

<div>
  <button type="button" class="btn btn-danger mt-5" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete Group</button>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">Delete Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is a real delete, not like a Facebook delete. This action can't be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="/group/delete/{{ groupData._id }}" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>const groupId='{{ groupData._id }}';</script>
<script src="/javascripts/editGroup.js"></script>
{% endblock %}
