{% extends "navbar.html" %}

{% block body %}
{% if not userData.helpDismissed %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Welcome to Pinpoint!</h5>
    <p class="card-text">Let's get you set up</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col">📱 Install the OwnTracks app for Android <a href="https://play.google.com/store/apps/details?id=org.owntracks.android" class="btn btn-info ms-3">Google Play</a> <a href="https://github.com/owntracks/android/releases" class="btn btn-dark ms-3">GitHub</a></div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col">📱 Install the OwnTracks app for iOS <a href="https://apps.apple.com/us/app/owntracks/id692424691" class="btn btn-dark ms-3">App Store</a></div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col">➕ Create devices in Pinpoint for devices you want to track</div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col">📲 Select the "OwnTracks Link" on a device with OwnTracks installed and you will be prompted to import the configuration.</div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col">🙌 Select the friends you want to share your location with. Anyone you set as a friend will be able to see your location.</div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col">👨‍👩‍👧‍👦 Create or join groups to make friend management easier. All members of a group will be able to see your location regardless of friend-status.</div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row justify-content-start align-items-center">
            <div class="col"></div>
          </div>
        </div>
      </li>
    </ul>
    <a href="/user/dismiss-help" class="btn btn-secondary">Dismiss</a>
  </div>
</div>
{% endif %}
<h2>Devices</h2>

<table id="devices" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Configuration Link</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% set urlRegExp = r/^owntracks:\/\/[^\/]/ %}
    {% for device in userDevices %}
    <tr>
      <th scope="row">{{ device.name }}</th>
      <th scope="row"><a class="btn btn-info" href="{{ device.configLink | replace(urlRegExp, 'owntracks:///c') }}" role="button">OwnTracks Link</a></th>
      <td scope="row"><a class="btn btn-secondary" href="/user/edit-device/{{ device._id }}" role="button">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="/user/add-device" role="button">Add Device</a>

<h2 class="pt-3">Friends</h2>

<form id="friend-form">
  {% for user in allUsers %}
  {% if user.username != username %}
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="{{ user.username }}" id="{{ user.username }}-check" name="friends"{% if userData.friends.includes(user.username) %} checked{% endif %}>
    <label class="form-check-label" for="{{ user.username }}-check">
      {{ user.username }}
    </label>
  </div>
  {% endif %}
  {% endfor %}

  <button id="friend-save" class="btn btn-primary" type="submit">Save Friends</button>
</form>

<h2 class="pt-3">Groups</h2>

<table id="groups" class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Members</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for group in userGroups %}
    <tr>
      <th scope="row">{{ group.name }}</th>
      <td>{{ group.memberNames | join(", ") }}</td>
      <td>
        {% if group.isAdmin %}
        <a class="btn btn-secondary" href="/group/edit/{{ group._id }}" role="button">Edit</a>
        {% else %}
          {% if group.accepted %}
          <a class="btn btn-danger" href="/group/leave/{{ group._id }}" role="button">Leave</a>
          {% else %}
          <a class="btn btn-success" href="/group/accept/{{ group._id }}" role="button">Accept Invite</a> <a class="btn btn-danger" href="/group/leave/{{ group._id }}" role="button">Decline</a>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-group-modal">Create Group</button>
</div>

<div>
  <button type="button" class="btn btn-danger mt-5" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete User Account</button>
</div>

<!-- Create Group Modal -->
<div class="modal fade" id="create-group-modal" tabindex="-1" aria-labelledby="create-group-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-group-modal-label">Create Group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="create-group-form">
          <div class="form-floating">
            <input type="text" class="form-control" id="groupName" name="groupName" placeholder="Group Name" required>
            <label for="groupName">Group Name</label>
            <div class="invalid-feedback">
              Group name taken
            </div>
          </div>
          <button class="btn btn-primary mt-2" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-modal-label">Delete User Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is a real delete, not like a Facebook delete. This action can't be undone!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="/user/delete-user" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}<script src="javascripts/user.js"></script>{% endblock %}
