{% for user in allUsers %}
<tr>
  <th scope="row">{{ user.username }}</th>
  <td>{{ user.devices | length }}</td>
  <td>{{ user.friends.length }}</td>
  <td>{{ user.groups.length }}</td>
  <td>
    <div class="form-check form-switch">
      {% include "admin-user-input.html" %}
      <label class="form-check-label" for="{{ user.uuid }}-admin-switch">Admin</label>
    </div>
    <button type="button" class="btn btn-danger"
        hx-get="/admin/delete-user/{{ user.uuid }}"
        hx-target="#user-table-body"
        hx-confirm="This action cannot be undone, are you sure you want to delete this {{ user.username }}?">Delete</button>
  </td>
</tr>
{% endfor %}