<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>{% block title %}Pinpoint Server{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">{% block navbar %}{% endblock %}</nav>
    <div class="container{% block containersettings %} pt-3{% endblock %}">
      {% block body %}You need to extend base.html or navbar.html!{% endblock %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/styles/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>