{% extends "base.html" %}

{% block navbar %}
<div class="container-fluid">
  <a class="navbar-brand" href="/">Pinpoint</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
      {% if username %}
      <li class="nav-item">
        <a class="nav-link" href="/user">User Settings</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
      {%if userData and userData.isAdmin %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/map">Map</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      {% if userData and userData.helpDismissed and showUserHelp %}
      <li class="nav-item">
        <button class="btn btn-outline-secondary" hx-get="/user/show-help" hx-target="#help">Help</button>
      </li>
      {% endif %}
      {% if username %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}