{% extends "navbar.html" %}

{% block body %}
{% if not userData.helpDismissed %}{% include "user-help.html" %}{% endif %}
<h2>Devices</h2>

<table id="devices" class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Configuration Link</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody id="devices-table-body">
    {% include "user-devices.html" %}
  </tbody>
</table>
<button class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#add-edit-device-modal"
    hx-get="/user/add-device" hx-target="#add-edit-device-dialog">Add Device</button>

<h2 class="pt-3">Friends</h2>

<form id="friend-form">
  {% for user in allUsers %}
  {% if user.username != username %}
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="{{ user.username }}" id="{{ user.username }}-check" name="friends"{% if userData.friends.includes(user.username) %} checked{% endif %}>
    <label class="form-check-label" for="{{ user.username }}-check">
      {{ user.username }}
    </label>
  </div>
  {% endif %}
  {% endfor %}

  <button id="friend-save" class="btn btn-primary" type="submit">Save Friends</button>
</form>

<h2 class="pt-3">Groups</h2>

<table id="groups" class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Members</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody id="groups-table-body">
    {% include "user-groups.html" %}
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-group-modal">Create Group</button>
</div>

{% if settings.notificationsEnabled %}
<h2 class="pt-3">Notifications</h2>
<p>If you would like to receive notifications when a user adds you as a friend, you're invited to a group,
  or when a user accepts your group invite, put your email address here. Also accepts
  <a href="https://github.com/caronc/apprise/wiki" target="_blank">Apprise</a> URIs if you would like to reveive
  notifications another way.</p>

  <input id="notification-input" name="notification-input" value="{{ userData.notificationTarget }}"
  class="form-control" type="text" placeholder="Email or Apprise URI" aria-label="notification-input"
  hx-post="/user/set-notification" hx-target="#test-notification-button" hx-swap="outerHTML"
  hx-trigger="keyup changed delay:1s" hx-ext="json-enc">

  {% include "user-notification-button.html" %}

{% endif %}

<div>
  <button type="button" class="btn btn-danger mt-5" data-bs-toggle="modal" data-bs-target="#reset-password-modal">Change Password</button>
</div>

<div>
  <button type="button" class="btn btn-danger mt-3 mb-5" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete User Account</button>
</div>

{% include "modal-create-group.html" %}
{% include "modal-edit-group.html" %}
{% include "modal-reset-password.html" %}
{% include "modal-delete-user.html" %}
{% include "modal-add-edit-device.html" %}

{% endblock %}

{% block scripts %}
<script src="javascripts/htmx.min.js"></script>
<script src="javascripts/json-enc.js"></script>
<script src="javascripts/user.js"></script>
{% endblock %}
