{% extends "navbar.html" %}

{% block body %}
{% if not userData.helpDismissed %}{% include "user-help.html" %}{% endif %}
<h2>Devices</h2>

<table id="devices" class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Configuration Link</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% set urlRegExp = r/^owntracks:\/\/[^\/]/ %}
    {% for device in userDevices %}
    <tr>
      <th scope="row">{{ device.name }}</th>
      <th scope="row"><a class="btn btn-info" href="{{ device.configLink | replace(urlRegExp, 'owntracks:///c') }}" role="button">OwnTracks Link</a></th>
      <td scope="row"><a class="btn btn-secondary" href="/user/edit-device/{{ device._id }}" role="button">Edit</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-primary" href="/user/add-device" role="button">Add Device</a>

<h2 class="pt-3">Friends</h2>

<form id="friend-form">
  {% for user in allUsers %}
  {% if user.username != username %}
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="{{ user.username }}" id="{{ user.username }}-check" name="friends"{% if userData.friends.includes(user.username) %} checked{% endif %}>
    <label class="form-check-label" for="{{ user.username }}-check">
      {{ user.username }}
    </label>
  </div>
  {% endif %}
  {% endfor %}

  <button id="friend-save" class="btn btn-primary" type="submit">Save Friends</button>
</form>

<h2 class="pt-3">Groups</h2>

<table id="groups" class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Members</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for group in userGroups %}
    <tr>
      <th scope="row">{{ group.name }}</th>
      <td>{{ group.members | join(', ', 'username') }}</td>
      <td>
        {% if group.adminId === userData._id %}
        <a class="btn btn-secondary" href="/group/edit/{{ group._id }}" role="button">Edit</a>
        {% else %}
          {% if group.accepted %}
          <a class="btn btn-danger" href="/group/leave/{{ group._id }}" role="button">Leave</a>
          {% else %}
          <a class="btn btn-success" href="/group/accept/{{ group._id }}" role="button">Accept Invite</a> <a class="btn btn-danger" href="/group/leave/{{ group._id }}" role="button">Decline</a>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create-group-modal">Create Group</button>
</div>

{% if settings.notificationsEnabled %}
<h2 class="pt-3">Notifications</h2>
<p>If you would like to receive notifications when a user adds you as a friend, you're invited to a group,
  or when a user accepts your group invite, put your email address here. Also accepts
  <a href="https://github.com/caronc/apprise/wiki" target="_blank">Apprise</a> URIs if you would like to reveive
  notifications another way.</p>

{% include "user-notification.html" %}

{% endif %}

<div>
  <button type="button" class="btn btn-danger mt-5" data-bs-toggle="modal" data-bs-target="#reset-password-modal">Change Password</button>
</div>

<div>
  <button type="button" class="btn btn-danger mt-3 mb-5" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete User Account</button>
</div>

{% include "modal-create-group.html" %}
{% include "modal-reset-password.html" %}
{% include "modal-delete-user.html" %}

{% endblock %}

{% block scripts %}
<script src="javascripts/htmx.min.js"></script>
<script src="javascripts/json-enc.js"></script>
<script src="javascripts/user.js"></script>
{% endblock %}
