{% for device in userDevices %}
<tr>
  <th scope="row">{{ device.name }}</th>
  <th scope="row">
    <a class="btn btn-info" href="{{ device.httpConfig }}" role="button">HTTP</a>
    {% if settings.mqttEnabled and device.mqttConfig %}
    <a class="btn btn-info ms-1" href="{{ device.mqttConfig }}" role="button">MQTT</a>
    {% endif %}
  </th>
  <td scope="row">
    <button class="btn btn-secondary" role="button" data-bs-toggle="modal" data-bs-target="#add-edit-device-modal"
        hx-get="/user/edit-device/{{ device._id }}" hx-target="#add-edit-device-dialog">Edit</button>
  </td>
</tr>
{% endfor %}